<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" type="text/css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Registrar nueva operacion portuaria</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Welldex Prueba</a>
                <div class="links">
                    <a class="nav-item" href="/v1/panel-principal">Regregar al panel principal</a>
                </div>
            </div>
        </nav>
    </header>

    <div class="container cont-form-op">
        <h2 class="">Completa el formulario</h2>
        <form class="contenedor-formulario" action="/v1/registrar-op-portuaria-p1" method="post">
            <p class="text-secondary text-center fw-bold">Este formulario te permitir치 registrar nuevas operaciones
                portuarias al sistema, al registrarlos su estatus automaticamente ser치 "ALTA"</p>
            <label>Pedimento</label>
            <input name="pedimento" class="form-control" type="text" id="pedimento"
                placeholder="Introduzca su pedimento (descripci칩n breve y concisa del producto)">
            <label>Cliente</label>
            <input name="cliente" class="form-control" type="text" id="cliente"
                placeholder="Introduzca su el nombre de la compa침ia o particular (nombre completo personal del cliente)">
            <label>Patente</label>
            <input id="patente" name="patente" class="form-control" type="text" placeholder="Patente (XXXX-XXXX-XXXX-XXXX)">
            <label>Aduana</label>
            <select id="aduanaId" class="form-control" name="aduanaId">
                <option >Escoja la aduana del origen de este registro</option>
                <%for(i=0;i<Object.entries(obj.listaAduanasObtenidas).length;i++){%>
                    
                    <option><%=obj.listaAduanasObtenidas[i].ID_ADUANA%></option>
                    <%}%>
            </select>
            <label>Tipo de operacion</label>
            <select id="tipoOperacion" class="form-control" name="tipoOperacion">
                <option >Escoja el tipo de operacion</option>
                <option value="1">Importacion</option>
                <option value="2">Exportacion</option>      
            </select>
          
            <label>Tipo de mercancia</label>
            <select id="tipoMercancia"class="form-control" name="tipoMercancia">
                <option>Escoja el tipo de mercancia</option>
                <option value="1">Contenerizado</option>
                <option value="2">Carga suelta</option>
            </select>
            <input type="hidden" name="pene" value"cojofeliz" id="">
            <button type="submit" class="btn-primary">Continuar</button>
        </form> 
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>


</body>

</html>